
Options -MultiViews
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.html [QSA,L]

# Security Headers
Header set Content-Security-Policy "default-src 'self'; \
  connect-src 'self' https://*.supabase.co wss://*.supabase.co https://*.supabase.in https://*.sentry.io https://*.ingest.sentry.io; \
  script-src 'self' 'unsafe-eval' 'unsafe-inline' https://*.supabase.co https://cdn.gpteng.co; \
  style-src 'self' 'unsafe-inline' https://fonts.googleapis.com; \
  img-src 'self' data: blob: https://*.supabase.co https://*.lovehotelapp.com https://www.dandyhotelparis.com https://lovehotelaparis.fr https://lovehotelapp.com; \
  font-src 'self' data: https://fonts.googleapis.com https://fonts.gstatic.com; \
  frame-src 'self';"

